@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700&display=swap');
body {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.a:hover {
    color: #000000;
    background: transparent;
}

h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  align-items: center;

  color: #0B585A;
}

h2, h3, h4 {
  font-family: 'Inter';
  font-style: normal;
  font-size: 2em;
  font-weight: bold;
  align-items: center;

  color: #0B585A;
}

#loginPage {
  background: url(../img/bg.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.card-form {
  background: #FFFFFF;
  box-shadow: 0px 1px 33px #c2c2c2;
  border-radius: 50px;
}

/*.card-reg {
  border: 2px solid;
  border-color:  #22C2C6; 
  background: #FFFFFF;
  border-radius: 10px;
}*/

.card-content {
  height: auto;
  padding: 1.5em;
  padding-top: 0;
}

.center-item {
  align-items: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.logo {
  width: 100%;
}

.logo-sidebar {
  width: auto;
}

.spacer-2 {
  margin-top: 2em;
}

.button-yellow {
  background: linear-gradient(0deg, #FDAF19, #FDAF19), #B8B6B6;
  border: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 2em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.017em;

  color: #FFFFFF;
}

.button-yellow:hover {
  color: #FDAF19;
  background: transparent;
}

.button-red {
  background: linear-gradient(0deg, #fd1919, #fd1919), #B8B6B6;
  border: 0px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 2em;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.017em;

  color: #FFFFFF;
}

.button-red:hover {
  color: #fd1919;
  background: transparent;
}

.label-rounded {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #0B585A;
}

.form-rounded {
  border-radius: 3em;
  height: 3.5em;
  margin-bottom: 1.5em;
}

.input-field {
  padding-left: 1.5em;
  padding-top: 0.7em;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1em;
  display: flex;
  align-items: center;
  letter-spacing: -0.017em;

  color: #0B585A;

  opacity: 0.5;

  background: #DFDFDF;

}


.input-field-dashboard {
  border: 2px solid #40B5B0;
  box-sizing: border-box;
  border-radius: 10px;
  color: #40B5B0;
}


/* Sidebar*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: 
  url(../img/bg-sidebar.svg) no-repeat,
  linear-gradient(180deg, #40B5B0 45.71%, #87D6BD 100%);
  background-blend-mode: screen;
}

@media (max-width: 767.98px) {
  .sidebar {
    /*top: 5rem;*/
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 100px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  display: flex;
  align-items: center;

  color: #FFFFFF;
  margin-top: 0.2rem;
}

.sidebar .nav-link .feather {
  margin-right: 0.5rem;
  color: #FFFFFF;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
  /*color: #2470dc;*/
  background: #0B585A;
  border-radius: 8px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

 .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: 0.5rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75em 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.breadcrumb {
  margin-top: 1rem;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  align-items: center;

  color: #0B585A;
}

.services {
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: #E7F7F2;
  border-radius: 20px;
}

.card {
  margin: 1em;
  background: transparent;
  border: 1px solid #5e5e5e;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  align-items: center;

  color: #0B585A;
}

.card-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  align-items: center;

  color: #0B585A;
}

.carousel-nav {
  margin: 0.5rem 1rem;
}

.carousel-nav-button {
  font-size: 1.2rem;
  color: #40B5B0;
  text-decoration: none;
  border: 1px solid #40B5B0;
  box-sizing: border-box;
  border-radius: 10px;

  padding: 0.5rem 0.8rem;
}

.carousel-nav-button:hover {
  background-color: #40B5B0;
  color: #FFFFFF;
}

.report {
  margin-top: 3rem;
}

.notification {
  padding: 1.5rem;
  background-color: #E7F7F2;
  margin-bottom: 2rem;
  height: calc(100vh - 202px);
  overflow: auto;
}

.notif-img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.notif-text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  align-items: center;

  color: #000000;
  margin-top: 1.6rem;
}

.notif-subtext {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  align-items: center;

  color: #0B585A;
}

.notif-date {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7rem;
  align-items: center;

  color: #000000;

  opacity: 0.7;
}

.notification .border-bottom {
  margin: 1.8rem 0 1rem 0;
}


table {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  align-items: center;
  color: #0B585A;
  background-color: #c2c2c2;
  text-align: center;
}

td {
  vertical-align: top;
}

#button-tambah, #button-tambah2 {
  margin-left: auto;
  margin-right: 0;
  margin-right: 10px;
  border-radius: 20px;
}

.bg-green {
  background-color: #0B585A;
  color: white;
}

.icon-action {
  padding-left: 1rem;
}

.btn-cari, .btn-tambah {
  font-size: 1.5rem;
  color: #FFFFFF;
  padding: 14px;
  border-radius: 20px;
  margin-left: 1rem;
}

.btn-cari {
  background: #FDAF19;
}

.btn-cari:hover {
  background: #FFFFFF;
  color: #FDAF19;
}

.btn-tambah {
  background: #40B5B0;
}

.btn-tambah:hover {
  background: #FFFFFF;
  color: #40B5B0;
}

.icon-btn {
  height: 1.8rem;
  width: 1.5rem;
}

.btn-cari-text {
  margin-left: 0.6rem;
}

/*Datepicker*/

.ui-datepicker-calendar {
   display: none;
}

.ui-datepicker-next,.ui-datepicker-prev {
  display: none;
}